<%= link_to "Home", root_path %>
<h4>비트코인수익률 : <%= @btc_profit_rate %> %</h4>
<h4>원화잔고 : <%= @krw_balance %>원</h4>

<% @my_strategy_infos.each do |my_strategy_info| %>
  <%= my_strategy_info.my_strategy_info_id %>
  <%= my_strategy_info.strategy.title %>
  <%= my_strategy_info.strategy.description %>
  <%= my_strategy_info.active_yn %>
  <%= link_to "토글", upbit_update_my_strategy_info_active_yn_path(my_strategy_info_id: my_strategy_info.my_strategy_info_id), method: :get %>
  <%= link_to "매매내역", upbit_get_trades_by_my_strategy_info_id_path(my_strategy_info_id: my_strategy_info.my_strategy_info_id), method: :get %>
<% end %>

