<%= link_to "Home", root_path %>
<%= link_to "Upbit", root_path %>

<%# 매매내역 테이블 형태로 출력 %>
<table>
  <thead>
    <tr>
      <th>수익률</th>
      <th>유저ID</th>
      <th>매매일시</th>
    </tr>
  </thead>
  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        
        
        <td><%= trade.profit %></td>
        <td><%= trade.user_id %></td>
        
        <td><%= trade.formatted_created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>





